<br>
<div class="card my-5 col-4 mx-auto">
  <div class="card-body">
    <h2>Siuntos detalės</h2>
    <hr/>
    <div *ngIf="parcel">
      <div>
        <label>Siuntėjo vardas : </label> {{parcel.sender.lastName}}
      </div>
      <div>
        <label>Siuntėjo pavardė : </label> {{parcel.sender.lastName}}
      </div>
      <div>
        <label>Siuntėjo adresas :</label> {{parcel.sender.address}}
      </div>
      <div>
        <label>Gavėjo vardas :</label> {{parcel.receiver.name}}
      </div>
      <div>
        <label>Gavėjo pavardė :</label> {{parcel.receiver.lastName}}
      </div>
      <div>
        <label>Gavėjo adresas :</label> {{parcel.receiver.address}}
      </div>
      <div>
        <label>Gavėjo telefonas :</label> {{parcel.receiver.phone}}
      </div>
      <div>
        <label>Gavėjo el. paštas :</label> {{parcel.receiver.email}}
      </div>
      <label>Siuntos dydis:</label> {{parcel.size}}
    </div>
    <div>
      <label>Siuntos svoris:</label> {{parcel.weight}} kg
    </div>
    <div>
      <a [routerLink]="['/updateparcel', parcel.id]" class="btn btn-success mr-3">Redaguoti</a>
      <button class="btn btn-danger mr-3" (click)="removeParcel(parcel)">Ištrinti</button>
    </div>
    <a [routerLink]="['/parcels']" class="btn btn-primary mt-3">Grįžti</a>
  </div>
</div>


