<br/>
<div class="card my-5">
  <div class="card-body">
    <h3 class="text-center text-muted">Prašome užpildyti siuntos informaciją</h3>
    <form (ngSubmit)="createParcel()" #userForm="ngForm">
      <p class="text-muted font-weight-bold">Siuntėjo duomenys:</p>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="senderName">Siuntėjo vardas</label>
            <input type="text" [(ngModel)]="parcel.sender.name"
                   class="form-control"
                   id="senderName"
                   name="senderName"
                   placeholder="Įveskite siuntėjo vardą"
                   required #senderName="ngModel"
            >
            <div *ngIf="senderName.errors && (senderName.dirty || senderName.touched)" class="alert alert-danger">
              <div [hidden]="!senderName.errors.required">
                Siuntėjo vardas privalomas!
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="senderLastName">Siuntėjo pavardė</label>
            <input type="text" [(ngModel)]="parcel.sender.lastName"
                   class="form-control"
                   id="senderLastName"
                   name="senderLastName"
                   placeholder="Įveskite siuntėjo pavardę"
                   required #senderLastName="ngModel"
            >
            <div *ngIf="senderLastName.errors && (senderLastName.dirty || senderLastName.touched)"
                 class="alert alert-danger">
              <div [hidden]="!senderLastName.errors.required">
                Siuntėjo pavardė privaloma!
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="senderAddress">Siuntėjo adresas</label>
            <input type="text" [(ngModel)]="parcel.sender.address"
                   class="form-control"
                   id="senderAddress"
                   name="senderAddress"
                   placeholder="Įveskite siuntėjo adresą"
                   required #senderAddress="ngModel">
            <div *ngIf="senderAddress.errors && (senderAddress.dirty || senderAddress.touched)"
                 class="alert alert-danger">
              <div [hidden]="!senderAddress.errors.required">
                Siuntėjo adresas privalomas!
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="text-muted font-weight-bold">Gavėjo duomenys:</p>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="receiverName">Gavėjo vardas</label>
            <input type="text" [(ngModel)]="parcel.receiver.name"
                   class="form-control"
                   id="receiverName"
                   name="receiverName"
                   placeholder="Įveskite gavėjo vardą"
                   required #receiverName="ngModel"
            >
            <div *ngIf="receiverName.errors && (receiverName.dirty || receiverName.touched)" class="alert alert-danger">
              <div [hidden]="!receiverName.errors.required">
                Gavėjo vardas privalomas!
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="receiverLastName">Gavėjo pavardė</label>
            <input type="text" [(ngModel)]="parcel.receiver.lastName"
                   class="form-control"
                   id="receiverLastName"
                   name="receiverLastName"
                   placeholder="Įveskite gavėjo pavardę"
                   required #receiverLastName="ngModel"
            >
            <div *ngIf="receiverLastName.errors && (receiverLastName.dirty || receiverLastName.touched)"
                 class="alert alert-danger">
              <div [hidden]="!receiverLastName.errors.required">
                Gavėjo pavardė privaloma!
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="receiverAddress">Gavėjo adresas</label>
            <input type="text" [(ngModel)]="parcel.receiver.address"
                   class="form-control"
                   id="receiverAddress"
                   name="receiverAddress"
                   placeholder="Įveskite gavėjo adresą"
                   required #receiverAddress="ngModel"
            >
            <div *ngIf="receiverAddress.errors && (receiverAddress.dirty || receiverAddress.touched)"
                 class="alert alert-danger">
              <div [hidden]="!receiverAddress.errors.required">
                Gavėjo adresas privalomas!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="phone">Gavėjo telefonas</label>
            <input type="number" [(ngModel)]="parcel.receiver.phone"
                   class="form-control"
                   id="phone"
                   name="phone"
                   min="370"
                   placeholder="370xxxxxxxx"
                   pattern="^((\\370-?))?[0-9]{11}$"
                   required #phone="ngModel"
            >
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
              <div *ngIf="phone.errors?.required">
                Gavėjo telefonas privalomas!
              </div>
              <div *ngIf="phone.errors?.pattern">
                Netinkamas telefono formatas! Ilgis 11 simobolių!
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="email">Gavėjo el.paštas</label>
            <input type="email" [(ngModel)]="parcel.receiver.email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="Įveskite gavėjo el. paštą"
                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                   required #email="ngModel"
            >
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors?.required">
                Gavėjo el. paštas privalomas!
              </div>
              <div *ngIf="email.errors?.pattern">
                Netinkamas formatas!
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <p class="text-muted font-weight-bold">Siuntos duomenys:</p>
      <div class="row">
        <div class="col">
          <label for="size">Siuntos dydis</label>
          <form [formGroup]="parcelSizeForm">
            <select formControlName="parcelSizeControl"
                    [(ngModel)]="parcel.size"
                    id="size"
                    for="size"
                    name="size">
              <option value="" disabled>Pasirinkti iš sąrašo</option>
              <option [value]="parcel" *ngFor="let parcel of parcelSizes">{{parcel}}</option>
            </select>
          </form>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="weight">Siuntos svoris</label>
            <input type="number" [(ngModel)]="parcel.weight"
                   class="form-control"
                   id="weight"
                   min="0"
                   step='0.01'
                   value='0.00'
                   placeholder='0.00'
                   name="weight"
                   required #weight="ngModel"
            >
            <div *ngIf="weight.errors && (weight.dirty || weight.touched)" class="alert alert-danger">
              <div [hidden]="!weight.errors.required">
                Siuntos svoris privalomas!
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div>
        <button type="submit" [disabled]="!userForm.form.valid"
                class="btn btn-success">Submit
        </button>
        <a [routerLink]="['/parcels']" class="btn btn-primary ml-3">Grįžti</a>
      </div>
    </form>
  </div>
</div>
