<br />
<div class="card my-5">
  <div class="card-body">
    <h3 class="text-center text-muted">Redaguoti siuntos duomenis</h3>
    <form (ngSubmit)="keistiSiunta()" #userForm="ngForm">
      <p class="text-muted font-weight-bold">Siuntėjo duomenys:</p>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="siuntejoVardas">Siuntėjo vardas</label>
            <input type="text" [(ngModel)]="siunta.siuntejas.siuntejoVardas"
                   class="form-control"
                   id="siuntejoVardas"
                   name="siuntejoVardas"
                   placeholder="Įveskite siuntėjo vardą"
                   required #siuntejoVardas="ngModel"
            >
            <div [hidden]="!siuntejoVardas.dirty" class="alert alert-danger">Siuntėjo vardas privalomas!</div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="siuntejoPavarde">Siuntėjo pavardė</label>
            <input type="text" [(ngModel)]="siunta.siuntejas.siuntejoPavarde"
                   class="form-control"
                   id="siuntejoPavarde"
                   name="siuntejoPavarde"
                   placeholder="Įveskite siuntėjo pavardę"
                   required #siuntejoPavarde="ngModel"
            >
            <div [hidden]="!siuntejoPavarde.dirty" class="alert alert-danger">Siuntėjo pavardė privaloma!</div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="siuntejoAdresas">Siuntėjo adresas</label>
            <input type="text" [(ngModel)]="siunta.siuntejas.siuntejoAdresas"
                   class="form-control"
                   id="siuntejoAdresas"
                   name="siuntejoAdresas"
                   placeholder="Įveskite siuntėjo adresą"
                   required #siuntejoAdresas="ngModel">
            <div [hidden]="!siuntejoAdresas.dirty" class="alert alert-danger">Siuntėjo adresas privalomas!</div>
          </div>
        </div>
      </div>
      <p class="text-muted font-weight-bold">Gavėjo duomenys:</p>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="gavejoVardas">Gavėjo vardas</label>
            <input type="text" [(ngModel)]="siunta.gavejas.gavejoVardas"
                   class="form-control"
                   id="gavejoVardas"
                   name="gavejoVardas"
                   placeholder="Įveskite gavėjo vardą"
                   required #gavejoVardas="ngModel"
            >
            <div [hidden]="!gavejoVardas.dirty" class="alert alert-danger">Gavėjo vardas privalomas!</div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="gavejoPavarde">Gavėjo pavardė</label>
            <input type="text" [(ngModel)]="siunta.gavejas.gavejoPavarde"
                   class="form-control"
                   id="gavejoPavarde"
                   name="gavejoPavarde"
                   placeholder="Įveskite gavėjo pavardę"
                   required #gavejoPavarde="ngModel"
            >
            <div [hidden]="!gavejoPavarde.dirty" class="alert alert-danger">Gavėjo pavardė privaloma!</div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="gavejoAdresas">Gavėjo adresas</label>
            <input type="text" [(ngModel)]="siunta.gavejas.gavejoAdresas"
                   class="form-control"
                   id="gavejoAdresas"
                   name="gavejoAdresas"
                   placeholder="Įveskite gavėjo adresą"
                   required #gavejoAdresas="ngModel"
            >
            <div [hidden]="!gavejoAdresas.dirty" class="alert alert-danger">Gavėjo adresas privalomas!</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="gavejoTelefonas">Gavėjo telefonas</label>
            <input type="number" [(ngModel)]="siunta.gavejas.gavejoTelefonas"
                   class="form-control"
                   id="gavejoTelefonas"
                   name="gavejoTelefonas"
                   placeholder="Įveskite gavėjo telefoną"
                   required #gavejoTelefonas="ngModel"
            >
            <div [hidden]="!gavejoTelefonas.dirty" class="alert alert-danger">Gavėjo telefonas privalomas!</div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="gavejoElPastas">Gavėjo el.paštas</label>
            <input type="text" [(ngModel)]="siunta.gavejas.gavejoElPastas"
                   class="form-control"
                   id="gavejoElPastas"
                   name="gavejoElPastas"
                   placeholder="Įveskite gavėjo el. paštą"
                   required #gavejoElPastas="ngModel"
            >
            <div [hidden]="!gavejoElPastas.dirty" class="alert alert-danger">Gavėjo el. paštas privalomas!</div>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <p class="text-muted font-weight-bold">Siuntos duomenys:</p>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="dydis">Siuntos dydis</label>
            <input type="text" [(ngModel)]="siunta.dydis"
                   class="form-control"
                   id="dydis"
                   name="dydis"
                   placeholder="Įveskite siuntos dydį"
                   required #dydis="ngModel"
            >
            <div [hidden]="!dydis.dirty" class="alert alert-danger">Siuntos dydis privalomas!</div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="svoris">Siuntos svoris</label>
            <input type="number" [(ngModel)]="siunta.svoris"
                   class="form-control"
                   id="svoris"
                   name="svoris"
                   placeholder="Įveskite siuntos svorį"
                   required #svoris="ngModel"
            >
            <div [hidden]="!svoris.dirty" class="alert alert-danger">Siuntos svoris privalomas!</div>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div>
        <button type="submit" class="btn btn-success mr-3">Submit</button>
        <a [routerLink]="['/siuntos']" class="btn btn-primary mr-3">Grįžti</a>
      </div>
    </form>
  </div>
</div>


